In [28]:
import os
import json
import numpy as np
import pandas as pd

In [29]:
movies_df = pd.read_csv("./original-dataset/movies.csv")

In [30]:
with open('movie_to_relevant_tags.json', 'r') as fp:
        movie_to_tag_relevance = json.load(fp)

In [31]:
allGenres = set([])

for y, row in movies_df.iterrows():
    genres = row["genres"].split("|")

    for i, genre in enumerate(genres):
        if not genre in allGenres:
            allGenres.add(genre)

    print(f"{y}/{len(movies_df)}", end="\r")

genreIds = [f"{i+1}" for i in range(len(allGenres))]
genreNames = list(allGenres)

In [32]:
# genres_df = pd.DataFrame(genres, columns=["id", "name"])
# genres_df.to_csv("./neo4j_csvs/genres.csv", index=False)

In [33]:
# movie_tags_df = movies_df.copy()
# movie_tags_df["genreId"] = np.full((len(movie_tags_df),), "")
# movie_tags_df["genreName"] = np.full((len(movie_tags_df),), "")
# movie_tags_df

In [36]:
movie_genres = []

for i, row in movies_df.iterrows():
    selectedGenres = set(row["genres"].split("|"))
    
    for i, genreName in enumerate(genreNames):
        if genreName in selectedGenres:
            movie_genres.append([row["movieId"], row["title"], genreIds[i], genreName])

movie_genres_df = pd.DataFrame(movie_genres, columns=["movieId", "movieTitle", "genreId", "genreName"])
movie_genres_df

       movieId           movieTitle genreId           genreName
0            1     Toy Story (1995)       3           Animation
1            1     Toy Story (1995)       5              Comedy
2            1     Toy Story (1995)       8             Fantasy
3            1     Toy Story (1995)      13            Children
4            1     Toy Story (1995)      15           Adventure
...        ...                  ...     ...                 ...
54401   131258   The Pirates (2014)      15           Adventure
54402   131260  Rentun Ruusu (2001)      17  (no genres listed)
54403   131262     Innocence (2014)       1              Horror
54404   131262     Innocence (2014)       8             Fantasy
54405   131262     Innocence (2014)      15           Adventure

[54406 rows x 4 columns]

In [37]:
movie_genres_df.to_csv("./neo4j_csvs/movie_genres.csv", index=False)

In [39]:
markedTags = set([])

for i, movie_id in enumerate(movie_to_tag_relevance):
    for tag in movie_to_tag_relevance[movie_id]:
        if not tag in markedTags:
            markedTags.add(tag)

    print(f"{i}/{len(movie_to_tag_relevance)}", end="\r")

tagIds = [f"{i+1}" for i in range(len(markedTags))]
tagNames = list(markedTags)
len(tagNames)

1031

In [40]:
movie_tags = []

for i, movie_id in enumerate(movie_to_tag_relevance):
    for tag in movie_to_tag_relevance[movie_id]:
        movie_tags.append([tagNames.index(tag)+1, movie_id, tag])

    print(f"{i}/{len(movie_to_tag_relevance)}", end="\r")

In [41]:
movie_tags_df = pd.DataFrame(movie_tags, columns=["tagId", "movieId", "tagName"])
movie_tags_df

       tagId movieId             tagName
0        159       1     kids and family
1        849       1     pixar animation
2        342       1  computer animation
3        643       1                toys
4        184       2                kids
...      ...     ...                 ...
41519    244  131168           criterion
41520    172  131170          bad ending
41521    113  131170   parallel universe
41522    281  131170              sci-fi
41523    630  131170   alternate reality

[41524 rows x 3 columns]

In [42]:
movie_tags_df.to_csv("./neo4j_csvs/movie_tags.csv", index=False)